*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
}

.show{
    display: block;
}

.hidd{
    display: none;
}

body, html{
    height: 250px;
    width: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.purple_box{
     height: 250px;
     width: 300px;
     background-image: url("bg.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
 }
.purple_write{
    height: 96px;
    width: 93px;
    background-image: url("writing.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: -35px;
    left: 220px;
}

.purple_section{
    height: 151px;
    width: 202px;
    background-image: url("section.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 35px;
    left: 15px;
}

.purple_heading{
    height: 195px;
    width: 276px;
    background-image: url("ielts_heading.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: -30px;
    left: 25px;
}


.purple_btn{
    height: 31px;
    width: 92px;
    background-image: url("started.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 215px;
    left: 190px;
}


.beep{
    animation: beep 1s infinite linear;
}

@keyframes beep {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(.95);
    }
}

.leftGlance{
    animation: leftGlance infinite 3s linear;
}

.rightGlance{
    animation: rightGlance infinite 3s linear;
}

@keyframes leftGlance {
    0%{
        transform: translateX(-220px);
        opacity: 1;
    }
    15%,85%{
        transform: translateX(15px);
        opacity: 1;
    }
    86%{
        opacity: 0;
    }
    100%{
        transform: translateX(-220px);
        opacity: 0;
    }
}

@keyframes rightGlance {
    0%{
        transform: translateX(420px);
        opacity: 1;
    }
    15%,85%{
        transform: translateX(25px);
        opacity: 1;
    }
    86%{
        opacity: 0;
    }
    100%{
        transform: translateX(420px);
        opacity: 0;
    }
}

.purple_question{
    height: 163px;
    width: 278px;
    background-image: url("question.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 25px;
    left: 10px;
    transform: scale(1.05);
    transition: all 1s linear;
}

.purple_play{
    height: 31px;
    width: 116px;
    background-image: url("play.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 215px;
    left: 170px;
}

textarea{
    padding: 5%;
    height: 200px;
    width: 300px;
    background-color: #0577b5;
    top: 10px;
    left: 0;
    resize: none;
    outline: 0;
    border: none;
    font-size: 18px;
}

textarea,
[contenteditable] {
    caret-color: red;
}

textarea::placeholder{
    color: whitesmoke;
}

textarea:active{
    caret-color: red;
}

.purple_sub{
    height: 31px;
    width: 92px;
    background-image: url("next.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 215px;
    left: 190px;
}


[class^="user_"]{
    left: 50px;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: #0d1c2a;
    font-size: 16px;
    border: 1px solid #E52743;
    outline: 0;
}

[class^="user_"]::placeholder{
    outline: 0;
    text-align: center;
}

[class^="user_"]:active{
    outline: 0;
}

.heading{
    width: 200px;
    top: 55px;
    left: 50px;
    font-size: 22px;
    text-align: center;
}

.user_name{
    top: 90px;
}
.user_tel{
    top: 130px;
}


.btn3_class{
    top: 170px;
    width: 92px;
    left: 110px;
    height: 31px;
    background-image: url("submit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    outline: 0;
    border: 0;
}